:root {
    --ms_gray-color: #2c3e50;
    --ms_green-color: #1abc9c;
    --ms_gray-color-light:#3a546d;
}

.ms_portfolio-item {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/* header*/
.ms_hamburger {
   display: none;
}

@media all and (max-width:768px){
    .ms_hamburger {
        display: block;
    }
    .ms_list-item {
        display: none;
    }
}

header {
    color: white;
    width: 60%;
    margin: 0 auto;
    font-size: 70%;
    padding-top: 10px;
    background-color: var(--ms_gray-color);
    height: 40px;
    text-align: center;
}

main {
    max-width: 60%;
    margin: 0 auto;
}

/*ms_section-1*/
}
.ms_img_container {
    height: 90%;
    width: 90%;
    padding-top: 2rem;;
}

.ms_green {
    background-color: var(--ms_green-color);
    margin: 0 auto;
    color: white;
}
header li {
    list-style: none;
    display: inline-block;
    font-size: 80%;
    padding-right: 5%;
}

.ms_title-1 h1{
    text-align: center;
    font-size: 30px;
}

.ms_subtitle {
    text-align: center;
    color: white;
    font-size: 15px;
    padding-bottom: 30px;
}
header a {
    text-decoration: none;
    color: white;
}
.ms_list-item li:hover a {
     color: var(--ms_green-color);
}

.ms_hamburger:hover i{
    color: var(--ms_green-color);
}

/* /ms_section-1*/

/*ms_section-2*/
.ms_section-2 {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;padding-bottom: 2rem;
}


.ms_section2_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}
 
/*ms_section-3*/
.ms_section-3 {
    font-size: 70%;
    text-align: center;
}

.ms_section-3 p {
    font-size: 70%;
    padding-bottom: 2rem;
}

.ms_section-3 h2{
    padding-top: 2rem;
}
.ms_s3-btn {
    background-color: var(--ms_green-color);
    border-color: white;
    color: white;
    border-radius: 2px;
    margin-bottom: 2rem;
}
/* /section3 */

/*section 4*/
.ms_form-title {
    text-align: center;
}

.ms_form-btn {
    background-color: var(--ms_green-color);
    border: white;
    margin-bottom: 1rem;
}

/*footer*/
footer {
    background-color: var(--ms_gray-color-light);
    color: white;
    text-align: center;
    max-width: 60%;
    margin:0 auto;
    
}
footer span {
    font-size: 70%;
}

.ms_footer-bottom {
    background-color: var(--ms_gray-color);
    text-align: center;
    padding: 1rem;
    padding-bottom: 1rem;
}


